<!-- <table style="border: 1px solid; border-color: black;">   
<tr>
    
    <th>
        Pid:<input type="text" value={{Pid}}>
    </th>
    <th>
        Name:<input type="text" value={{fname+Lname}}>
    </th>
    <th>
        Age:<input type="text" [value]="age">
    </th>
    <th>
        bg: <input type="text" value={{bg}}>
    </th>

</tr>
</table>
<hr>
 <table style="border: 1px solid; border-color: black;">
    <tr>ng 
        <th style="border: 1px solid; border-color: black;">Month</th>
        <th style="border: 1px solid; border-color: black;">savings</th>
        <th style="border: 1px solid; border-color: black;">earnings</th>
    </tr>
    <tr>
        <th style="border: 1px solid; border-color: black;">jan</th>
        <th style="border: 1px solid; border-color: black;">30000</th>
        <th style="border: 1px solid; border-color: black;">50000</th>
    </tr>
    <tr>
        <th style="border: 1px solid; border-color: black;">feb</th>
        <th style="border: 1px solid; border-color: black;">50000</th>
        <th style="border: 1px solid; border-color: black;">60000</th>
    </tr>
    <tr>
        <td [attr.colspan]="noofcells" style="border: 1px solid; border-color: black;">sum: 80000

        </td>
        
    </tr>
 </table> -->
 <hr>
<input type="text" class="" [(ngModel)]="name">
 <button (click)="display()">twoway binding</button>