 <p>employee works!</p>
<div class="class">
    <form action="">
       Name: <input type="text" class="" #name>
        Age: <input type="text" class="" #age>
        salary :<input type="text" class="" #sal>
        exp: <input type="text" class="" #exp>
        qual: <input type="text" class="" #qual>
    </form>
    <button class="btn btn-success" (click)="display(name.value,age.value,sal.value,exp.value,qual.value)">submit</button>
    <!-- Name:{{name}}<br>
    age:{{age+1}}<br>
    education:{{educ}}<br>
    passout{{passout}} -->

</div>
<!--app-doctor></app-doctor> -->