<div *ngIf="depart=='pediatrics'; then child else seth"></div>

<!-- child block -->
<ng-template #child>
    
        <div class="row container">
            <div class="col-md-3">
                <img src="https://media.istockphoto.com/id/923852236/photo/cute-little-baby-boy-relaxing-in-bed-after-bath-smiling-happily.jpg?s=2048x2048&w=is&k=20&c=FcUjA1gYY6h1MzlM0Fuip2rhbn0T6Nzro-Kscx8lTTQ=" alt="child" style="height: 250px;width: 250px;">
            </div>
            
        <div class="col-md-2">
      <div ><strong>Doctorname:</strong> {{name}}</div>
      <div  ><strong>age:       </strong>{{age}}</div>
      <div  ><strong>department:</strong>{{depart}}</div>
      <div ><strong>experience:</strong>{{exp}}</div>
        </div>
    </div>  
    </ng-template>

    <!-- seth block -->
    <ng-template #seth>
        
      <div>

        <img src="https://media.istockphoto.com/id/1065743020/vector/stethoscope-icon.jpg?s=2048x2048&w=is&k=20&c=mXkmQeuFhuzKn8rsPnbyIMHtvPujnXtDELAvDAR05Ic=" alt="seth" style="height: 250px;width: 250px;">
      </div>
      <div ><strong>Doctorname:</strong> {{name}}</div>
      <div  ><strong>age:       </strong>{{age}}</div>
    </ng-template>




