<h2 style="text-align: center;">Student Details</h2>
<!-- <button class="btn btn-primary mt-2">Two-Way Binding</button>
<button class="btn btn-success mt-2">Two-Way Binding</button>
<button class="btn btn-danger mt-2">Two-Way Binding</button>
<button class="btn btn-info mt-2">Two-Way Binding</button> -->



<div style="display: flex; gap: 40px; justify-content: center;">

  <!-- Left: Normal Model -->
  <div style="display: flex; flex-direction: column; max-width: 400px; gap: 10px;page-orientation:inherit;">
    <h4>Normal Model</h4>
    <label>
      Name:
      <input type="text" [value]="myStudent.name" />
    </label>
    <label>
      Cell:
      <input type="text" [value]="myStudent.cell" />
    </label>
    <label>
      Course:
      <input type="text" [value]="myStudent.course" />
    </label>
    <label>
      Email:
      <input type="text" [value]="myStudent.email" />
    </label>
    <label>
      Fee:
      <input type="text" [value]="myStudent.fee" />
    </label>
  </div>

  <!-- Right: ngModel Binding
  <div style="display: flex; flex-direction: column; max-width: 400px; gap: 10px;">
    <h4>NgModel Binding</h4>
    <label>
      Name:
      <input type="text" [(ngModel)]="myStudent.name" />
    </label>
    <label>
      Cell:
      <input type="text" [(ngModel)]="myStudent.cell" />
    </label>
    <label>
      Course:
      <input type="text" [(ngModel)]="myStudent.course" />
    </label>
    <label>
      Email:
      <input type="text" [(ngModel)]="myStudent.email" />
    </label>
    <label>
      Fee:
      <input type="text" [(ngModel)]="myStudent.fee" />
    </label>
    <button (click)="addStudent()" class="btn btn-primary mt-2">Two-Way Binding</button>
  </div>

</div> -->
<!-- <p><strong>Name:</strong> {{ myStudent.name }}</p>
<p><strong>cell</strong> {{ myStudent.cell }}</p>
<p><strong>course</strong> {{ myStudent.course}}</p>
<p><strong>email</strong> {{ myStudent.email}}</p>
<p><strong>fee</strong> {{ myStudent.fee}}</p> -->
