<!-- <div style="margin-top: 10px;"></div>
<div style="display: flex; gap: 40px; justify-content: center;">
    <label for="" class="">state:</label>
    <select  [(ngModel)]="state" class="form-select" style="width: 100px;">
    
        <option>--select--</option>
        <option value="Ap">AP</option>
        <option value="Tg">TG</option>
        <option value="Mh">MH</option>
        <option value="Ke">KE</option>
    </select>
    
</div> -->
<!-- <div style="margin-top: 30px;"></div> 
<div class="" style="display: flex; gap: 40px; justify-content: center;">
    <div class="form-check">
        <input          class="form-check-input"  type="radio" id="male"  name="gender"[(ngModel)]="gender"  value="Male" >
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
      
      <div class="form-check">
        <input   class="form-check-input" type="radio" d="female"  name="gender" [(ngModel)]="gender" value="Female" >
        <label class="form-check-label" for="female">
          Female
        </label>
      </div>
      
      
</div>

<div style="display: flex; gap: 40px; justify-content: center;">
    <label>
        <input type="checkbox" [(ngModel)]="checkbox1"> Checkbox 1
      </label><br>
      
      <div>
        <button class="btn btn-primary" (click)="fn()">submit</button>
      </div></div> -->
  
<!-- 
<div style="display: flex; gap: 10px; justify-content: center;" 
 [ngClass]="{'default':true,'male':Gender=='male','female':Gender=='female','other':Gender=='other'}" >It to much boring to learn bootstrap</div>

<div style="display: flex; gap: 10px; justify-content: center;">
<div class="btn btn-primary">Primary</div>

<div class="btn btn-success">Success</div>
<div class="btn btn-danger">Danger</div>
<div class="btn btn-warning">warning</div>
<div class="btn btn-info">info</div>
<div class="btn btn-light">light</div>
<div class="btn btn-dark">dark</div>
<div class="btn btn-link">link</div>
</div>


<div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="bg-primary text-white text-center">Column 1</div>
      </div>
      <div class="col">
        <div class="bg-success text-white text-center">Column 2</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 3</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 4</div>
      </div>
      <div class="col">
        <div class=" bg-danger text-white text-center">Column 5</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 6</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 7</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 8</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 9</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 10</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 11</div>
      </div>
      <div class="col">
        <div class="bg-danger text-white text-center">Column 12</div>
      </div>
    </div>
  </div>
  <div class="card container border bg-light">
    <div class="row">
        <div class="col-sm-6 col-lg-3 col-md-4 bg-success">this is col-3</div>
        <div class="col-sm-6 col-lg-3 col-md-4 bg-danger" >this is col-3</div>
        <div class="col-sm-6 col-lg-3 col-md-4 bg-primary">this is col-3</div>
        <div class="col-sm-6 col-lg-3 col-md-4 bg-success">this is col-3</div>
    </div>
  </div>
  <div class=" card container border bg-light">
    <div class="row">
        <div class="col-sm-6 col-lg-3 col-md-4 bg-danger">this is col-4</div>
        <div class="col-sm-6 col-lg-3 col-md-4 bg-warning">this is col-4</div>
        <div class="col-sm-6 col-lg-3 col-md-4 btn-light">this is col-4</div>
        
    </div>
  </div>
  <div class="card container border bg-white">
    <div class="row">
        <div class="col-5 bg-success">this is col-5</div>
        <div class="col-7">this is col-7</div>
    </div>
  </div>
  <div class="card container border bg-white">
    <div class="row">
        <div class="col-9 bg-success">this is col-9</div>
        <div class="col-3 bg-danger">this is col-3</div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-4 bg-danger">this is col-4</div>
        <div class="col-4 bg-primary">this is col-4</div>
        <div class="col-4 bg-success">this is col-4</div>
      </div> 
    </div>
  </div>
  <div class="container">
    <h2>Colored Spinners and Grow</h2>
    <p>Use any <strong>text color utilites</strong> to add a color to the spinner:</p>
                                          
   
    
  </div>


  <div class="card container col">
    <div class-row>
    <div class="card-header">
      Featured
    </div>
    <div class="card-body text-center col" style="display:flexbox;justify-content: center;">
      <h5 class="card-title text-center">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      <div class="text-muted col-md-3 col-lg-4 col-sm-6">
        
      </div>
      
    </div>
    </div>
  </div> -->

  <div *ngIf="ender=='male'; then maleBlock; else femaleBlock"></div>

  <!-- Male block -->
  <ng-template #maleBlock>
    <div  style="background-color: blue;color:white">hi mr.{{namem}} welcome</div>
  </ng-template>
  
  <!-- Female block -->
  <ng-template #femaleBlock>
    <div  style="background-color: pink;color:white">hi mrs.{{namef}} welcome</div>
  </ng-template>
<!-- ngswitch -->
  <div [ngSwitch]="namem">
    <div *ngSwitchCase="'somanath'">son</div>
    <div *ngSwitchCase="'sarika'">daughter</div>
    <div *ngSwitchCase="'washigton'">dad</div>
    <div *ngSwitchDefault>unknown data</div>
    
    
  </div>

  <div *ngFor="let  name of members;let i=index">{{i+10}}.{{name}}</div>

  <!-- ngfor -->
  <ul>
    <li *ngFor="let  name of members">{{name}}</li>
  </ul>

 

  
<ng-template [ngIf]="calval=='A'">
<span>Apple</span>
</ng-template>

<ng-template [ngIf]="calval=='B'">
  <span>Bananna</span>
  </ng-template>
 
  <ng-template [ngIf]="calval=='O'">
    <span>orange</span>
    </ng-template>

    

