<!-- Header Section -->
<header class="bg-primary text-white text-center py-3">
    <h1 style="font-size: 20px;"><i class="fas fa-sign-in-alt"></i> Welcome to Patient Details Portal</h1>
</header>

<!-- Main Form -->
<form #form="ngForm" (ngSubmit)="onSubmit()" class="d-flex justify-content-center align-items-center bg-link"
    style="overflow: hidden;">
    <div class=" w-5card0 bg-light">
        <div class="card-body">
            <h5 class="card-title text-center mb-2"><i class="fa-solid fa-user-group"></i> Patient Details Registration
                Form</h5>
            <hr>

            <!-- First  Name Fields on the same row -->
            <div class="row mb-3">
                <!-- First Name Input -->
                <div class="col-md-4">
                    <label for="fname" class="form-label">First Name</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="pat.fname"
                            #fnam="ngModel" required pattern="^[A-Za-z]+$" autocomplete="off" minlength="3"
                            maxlength="10" />
                    </div>
                    <div *ngIf="fnam.invalid && (fnam.dirty || fnam.touched)" class="text-danger">
                        <div *ngIf="fnam.errors?.['required']">Please enter the first name.</div>
                        <div *ngIf="fnam.errors?.['pattern']">Only characters are allowed.</div>
                        <div *ngIf="fnam.errors?.['minlength']">Minimum length is 3 characters.</div>
                        <div *ngIf="fnam.errors?.['maxlength']">Maximum length is 10 characters.</div>
                    </div>
                </div>
            </div>

            <!-- Last Name Input -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="lname" class="form-label">Last Name</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="lname" name="Lname" [(ngModel)]="pat.Lname"
                            #lnam="ngModel" required pattern="^[A-Za-z]+$" autocomplete="off" minlength="3"
                            maxlength="10" />
                    </div>
                    <div *ngIf="lnam.invalid && (lnam.dirty || lnam.touched)" class="text-danger">
                        <div *ngIf="lnam.errors?.['required']">Please enter the last name.</div>
                        <div *ngIf="lnam.errors?.['pattern']">Only characters are allowed.</div>
                        <div *ngIf="lnam.errors?.['minlength']">Minimum length is 3 characters.</div>
                        <div *ngIf="lnam.errors?.['maxlength']">Maximum length is 10 characters.</div>
                    </div>
                </div>

            </div>
            <!-- age Input -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="age" class="form-label">Age</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="age" name="age" [(ngModel)]="pat.age" #age="ngModel"
                            required pattern="^(1[5-9]|[2-6][0-9]|70)$" autocomplete="off" />
                    </div>
                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="text-danger">
                        <div *ngIf="age.errors?.['required']">Please enter your age.</div>
                        <div *ngIf="age.errors?.['pattern']">Age must be between 15 and 70.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="bloodGroup" class="form-label">Blood Group</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <select id="bloodGroup" name="bloodGroup" class="form-select" [(ngModel)]="pat.bg_id"
                            #pbg="ngModel" required>
                            <option value="0">Select Blood Group</option>
                            <option *ngFor="let bg of bloodgroup" [value]="bg.bg_id">{{bg.bg_name}}</option>
                        </select>
                    </div>
                    <div *ngIf="(pbg.touched || pbg.dirty) && pbg.invalid" class="text-danger">
                        Please select a blood group.
                    </div>

                </div>
            </div>



            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                    <i class="fas fa-sign-in-alt"></i> Save
                </button>
            </div>
        </div>
    </div>
</form>

<!-- Footer Section -->
<footer class="bg-primary text-white text-center">
    <p>&copy; 2025 My Website | All rights reserved.</p>
    <p>Follow us on:
        <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
    </p>