<!-- select:<select>
  <option>
    ---SELECT----
  </option>
  <option *ngFor="let sat of state">
    {{sat}}
  </option>
  

</select>
<table class="table table-striped">
    <thead>
      <tr>  
        <th> PId</th>
        <th> Fname</th>
        <th>Lname</th>
        <th> Age </th>
        <th>Bgroup </th>
        <th> Disease </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of patient_list">
        <td>{{item.Pid}}</td>
        <td>{{ item.fname | uppercase }}</td>
        <td>{{ item.lname | uppercase}}</td>
        <td>{{ item.age}}</td>
        <td>{{ item.bggroup}}</td>
        <td>{{ item.disease}}</td>
      </tr>
    </tbody>
  </table> -->
  <ng-container *ngFor="let item of patient_list">
    Pid:{{item.Pid}}
    fname:{{ item.fname  }}
    lname{{ item.lname }}
    age:{{ item.age}}
    bg:{{ item.bggroup}}
    dis:{{ item.disease}} <br>
  </ng-container>
