<!-- <router-outlet></router-outlet>
<app-employee></app-employee>
<app-manager></app-manager>
<app-patient></app-patient> 
<app-calc></app-calc>

<app-registeration></app-registeration>
 <app-doctor></app-doctor> 
<app-patient-list></app-patient-list>  -->
 <!-- <app-patientgroup></app-patientgroup> -->
<!-- <app-a></app-a> -->
 <!-- <app-b></app-b> -->
 <!-- <app-login></app-login> -->
  <!-- <app-pateint-details></app-pateint-details> -->
   <!-- <app-patient-form></app-patient-form> -->
   <!-- <app-student></app-student> 
   <app-custompipes></app-custompipes> -->
   <!-- <app-new-employee></app-new-employee> -->
   <!-- <app-employee-list></app-employee-list> -->
    <!-- <app-patientd></app-patientd> -->
    <router-outlet></router-outlet>
     <!-- <app-rxjs></app-rxjs> -->
      