<!-- hi -->
<app-a>
    <!-- {{comp_name}} -->

    <div i>{{x}}</div>
    <div j>{{y}}</div>
    <div z>{{z}}</div>
    <div>{{L}}</div>
</app-a>

    name:<input type="text" id="tb" [(ngModel)]="per_name" name="i" #k="ngModel" minlength="4" required><br>
    <button (click)="save()">save</button>

    <!-- <div *ngIf="k.invalid && (k.dirty || k.touched)" class="text-danger">

        <div *ngIf="k.errors?.['required']">
            Please enter the name
          </div>
          
          <div *ngIf="k.errors?.['minlength']">
            Name must be at least {{ k.errors['minlength'].requiredLength }} characters
          </div>
        
    </div> -->
